<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bee1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{107,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,84}}</string>
                <key>sourceSize</key>
                <string>{107,84}</string>
            </dict>
            <key>bee2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{107,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,84}}</string>
                <key>sourceSize</key>
                <string>{107,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bee.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b6de7ba7461fec3490501c9d4b19f8a$</string>
            <key>textureFileName</key>
            <string>bee.png</string>
        </dict>
    </dict>
</plist>
