<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fly1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{214,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,168}}</string>
                <key>sourceSize</key>
                <string>{214,168}</string>
            </dict>
            <key>fly2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{214,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,168}}</string>
                <key>sourceSize</key>
                <string>{214,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fly-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a76eeae0e5b4e51a27cbb9b45d5c6d97$</string>
            <key>textureFileName</key>
            <string>fly-hd.png</string>
        </dict>
    </dict>
</plist>
